<div class="row profileLinks">
  <%= link_to 'back to profile', user_path(@user) %>
  <br>
  <%= link_to 'back to story archive', user_stories_path(@user) %>
</div>

<div class="col-md-6 col-md-offset-3">
  <h1><%= @story.title %> - archive </h1>
  <br>
  <h3> <%= @story.description %> </h3>
  <br>
  <h3> <%= @story.location %> </h3>

  <% @pins.each do |pin| %>
  <div class="col-md-4">
    <%= image_tag pin.image.url(:large) if pin.image? %>
  </div>
  <% end %>
</div>
