<h1>Create New Pin</h1>

<%= form_for([@user, @story, @pin])  do |f| %>
  <div>
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>
  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <%= f.submit %>
<% end %>
