<div class="row profileLinks">
  <% if current_user == @user %>
    <%= link_to 'new story', new_user_story_path(@user, @story) %>
    <br>
  <% end %>
  <%= link_to 'stories archive', user_stories_path(@user) %>
</div>

<div class="col-md-6 col-md-offset-3">
  <h1> <%= @user.name %> </h1>
  <!-- <br>
    <% @user.stories.each do |story| %>
      <div>
        <%= link_to story.title, user_story_path(@user, story) %>
      </div>
    <% end %> -->
</div>

<div class="transitions-enabled" id="story-archives">
  <% @user.stories.each do |story| %>
    <div class="box panel panel-default" id="story-archive-contents">
      <% picturecount = 0 %>
      <% story.pins.each do |pin| %>
        <%= link_to (image_tag pin.image.url(:large)), user_story_path(@user, story) if pin.image? %>
        <% picturecount += 1 %>
        <% break if picturecount == 4 %>
      <% end %>
      <div class="panel-body">
        <%= link_to story.title, user_story_path(@user, story) %>
      </div>
    </div>
  <% end %>
</div>

<!-- <% @user.stories.each do |story| %>
  <div class="outer-box">
    <div class="preview1">
    </div>
    <div class="preview2">
    </div>
    <div class="preview3">
    </div>
    <h1 class="storyTitle">
      <%= link_to story.title, user_story_path(@user, story) %>
    </h1>
  </div>
<% end %> -->
