<h1> <%= @user.name %>'s Profile </h1>

<%= link_to 'Stories', user_stories_path(@user) %><br>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path %>
  <br>
  <%= link_to 'Delete', user_path, method: :delete, data: {confirm: 'Are you sure?'}%>
<% end %>
<br>
<%= link_to 'Back to main', users_path %>
