<div class="row profileLinks">
  <%= link_to 'back to profile', user_path(@user) %>
  <br>
  <%= link_to 'add a pin', new_user_story_pin_path(@user, @story, @pin) if current_user == @story.user %>
  <br>
  <%= link_to 'edit story', edit_user_story_path(@user, @story) if current_user == @story.user %>
  <br>
  <%= link_to 'delete this story', user_story_path(@user), method: :delete, data: {confirm: 'Are you sure you want to delete this story?'} if current_user == @story.user %>
</div>

<div class="col-md-6 col-md-offset-3">
  <h1> <%= @story.title %> </h1>
  <h3>
    <%= @story.description.capitalize %>
    <br>
    <%= @story.location.capitalize %>
  </h3>
</div>

<div class="transitions-enabled" id="pins">
  <% @story.pins.each do |pin| %>
  <div class="box panel panel-default">
    <%= link_to (image_tag pin.image.url), user_story_pin_path(@user, @story, pin) if pin.image? %>
    <div class="panel-body">
      <%= pin.text %>
    </div>
  </div>
  <% end %>
</div>
