<!DOCTYPE html>
<html>
  <head>
    <title>GAproject2Storey</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">

        <% if current_user != nil %>
          <nav class="navbar-brand"><%= link_to 'Home', users_path %></nav>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to 'Account', user_path(current_user.id) %>
            </li>
            <li>
              <%= link_to 'Sign Out', logout_path, method: :delete %>
            </li>
          </ul>
        <% else %>
          <nav class="navbar-brand"><%= link_to 'StoreY', root_path %></nav>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to 'Sign In', login_path %>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
