<!DOCTYPE html>
<html>
  <head>
    <title>GAproject2Storey</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Pacifico|Shadows+Into+Light" rel="stylesheet">  </head>

  <body>
    <% if current_user != nil %>
      <nav class="navbar navbar-default">
          <nav class="navbar-brand navbar-left">
            <%= link_to "StoreY", users_path, id: "storeysign"  %>
          </nav>
          <div class="container">
            <ul class="nav navbar-nav navbar-right navbar-links">
              <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= current_user.name %> <span class="caret"></span>
                </a>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to 'Profile', user_path(current_user.id) %>
                      <%= link_to 'My Stories', user_stories_path(current_user.id) %>
                      <%= link_to 'New Story', new_user_story_path(current_user.id) %>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                      <%= link_to 'Account Settings', edit_user_path(current_user.id) %>
                    </li>
                  </ul> <!-- dropdown-menu -->
              </li> <!-- role="presentation" class="dropdown" -->
              <li>
                <%= link_to 'Sign Out', logout_path, method: :delete %>
              </li>
            </ul> <!-- class="nav navbar-nav navbar-right" -->
        </div> <!-- container -->
      </nav> <!-- class="navbar navbar-default" -->
      <!-- <hr> -->
    <% end %>
    <%= yield %>
  </body>
</html>


<!-- work around turbolinks to work around page loading issue (tiling doesn't work) -->
